<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <title>Vue.js入門決定版</title>
</head>
<body>
  <div id="app">
    <p>{{ message }}</p>
    <p v-if="toggle">
      <a v-bind:href="url">Vue.js</a>
    </p>
    <ul>
      <li v-for="lang in languages">
        {{ lang }}
      </li>
    </ul>
    <button v-on:click="click">クリック</button>
    <input type="text" v-model="message">
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: "Hello World!",
        url : "https://jp.vuejs.org/v2/guide/index.html",
        toggle: true,
        languages: [
          'js',
          'ruby',
          'python'
        ]
      },
      methods: {
        click: function(){
          this.message="クリック！"
        }
      }
    });
  </script>
</body>
</html>