/* .v-enter-active, .v-leave-active{
  transition: opacity .5s;
}

.v-enter, .v-leave-to{
  opacity: 0;
} */

/* .large{
  font-size: 64px;
}

.text-danger{
  color: red;
}

.bd-gray{
  background-color: gray;
}

.text-blue{
  color: blue;
}  */



/* No.101 プレーンなクラス属性との共存
.large{
  font-size: 64px;
}

.text-danger{
  color: red;
}

.bd-gray{
  background-color: gray;
}

.text-blue{
  color: blue;
} */

